body{
    padding: 0;
    margin: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 20rem;
    width: 40 rem;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.main-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main-right {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    background: #242324;
}

.main-videos {
    flex-grow: 1;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-controls {
    padding: 5px;
    display: flex;
    background: #1c1e20;
    color: #D2d2d2;
    justify-content: space-between;
}

.main-controls-block {
    display: flex;
}

.main-controls-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.leave-meeting {
    color: #EB534B
}

.main-controls-button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main-header {
    color: #f5f5f5;
    text-align: center;
}

.main-chat-window {
    flex-grow: 1;
}

.main-message-container {
    padding: 22px 12px;
    display: flex;
}

.main-message-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}